<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Home{% endblock %}</title>
    <meta charset="UTF-8" />
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous"
    />
</head>
<body>
    <h1>Enter Stock Ticker</h1>
    <form action="/submit_ticker" method="post">
        <label for="stockTicker">Stock Ticker:</label><br />
        <input type="Text" id="stockTicker" name="stockTicker" /><br />
        
    </br>

        Do you want microeconomic data?

    </br>

        <input type="radio" name = "micro" value="yes"> Yes
        <input type="radio" name = "micro" value="no"> No 
    
    </br>
    </br>

        Select endpoints:

    <br />

        <!-- these might be wrong, I can't really read the diagram I'm so sorry -->

        <!-- also beacuse radio buttons are ment to be used in the way above where you asked a required question that has
        only one answer theres really no convenient way uncheck the radio button, so either we can let them choose only one
        of the three endpoints, or we can switch to checkboxes ... or we can hope they don't misclick the endpoints that 
        they want. Either way, the code for all of those options are provided below (you should be able to just highlight the
        code and ctrl + / to uncomment it) -->

        <!-- Only one endpoint -->
        <input type="radio" name="endpoint" value="companyOverview"> Company Overview </br>
        <input type="radio" name="endpoint" value="priceAndEPS"> Price + EPS </br>
        <input type="radio" name="endpoint" value="balanceSheet"> Balance Sheet </br>

        <!-- Checkboxes -->
        <!-- <input type="checkbox" id="companyOverview" name="companyOverview" value="companyOverview">
        <label for="companyOverview"> Company Overview</label><br>
        <input type="checkbox" id="priceAndEPS" name="priceAndEPS" value="priceAndEPS">
        <label for="priceAndEPS"> Price + EPS </label><br>
        <input type="checkbox" id="balanceSheet" name="balanceSheet" value="balanceSheet">
        <label for="balanceSheet"> Balance Sheet </label><br> -->

        <!-- NO MISCLICK >:( -->
        <!-- <input type="radio" value="companyOverview"> Company Overview </br>
        <input type="radio" value="priceAndEPS"> Price + EPS </br>
        <input type="radio" value="balanceSheet"> Balance Sheet </br> -->

    </br>

        <input type="submit" value="Submit" />
    </form>
</body>
</html>
