<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microeconomic Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<head>
    <style>
        .back-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #4CAF50;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

        .back-button:hover {background-color: #3e8e41}

        .back-button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    </style>
</head>

<body>
    <a href="/" class="back-button">Back to Home</a>
</body>

<body>
    <div class="container">

        <h1>Microeconomic Data</h1>

        <h2>Real GDP</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>Real GDP</th>
                    </tr>
                </thead>
                {% for index, row in microdata['real_gdp_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>CPI</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>CPI</th>
                    </tr>
                </thead>
                {% for index, row in microdata['cpi_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>Inflation</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>Inflation</th>
                    </tr>
                </thead>
                {% for index, row in microdata['inflation_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>Federal Funds Rate</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>Federal Funds Rate</th>
                    </tr>
                </thead>
                {% for index, row in microdata['federal_funds_rate_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>Retail Sales</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>Retail Sales</th>
                    </tr>
                </thead>
                {% for index, row in microdata['retail_sales_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        <h2>Unemployment Rate</h2>
            <table border='1' class='dataframe table table-striped'>
                <thead>
                     <tr>
                         <th>Date</th>
                         <th>Retail Sales</th>
                    </tr>
                </thead>
                {% for index, row in microdata['unemployment_rate_df'].iterrows() %}
                <tr>
                    <td>{{ index }}</td>
                    <td>{{ row.iloc[0] }}</td>
                </tr>
                {% endfor %}
            </table>

        </div>
    </body>
</html>