<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microeconomic Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<head>
    <style>
        .back-button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            font-size: 16px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #000000;
            background-color: #AEECEF;
            border: none;
            border-radius: 5%;

            /* transition */
            transition-duration: 0.4s;
            transition-timing-function: ease;
        }
                
        .back-button:hover {
            background-color: #000000; /* Black */
            color: white;
            box-shadow: 0 12px 16px 0 rgba(174,236,239,0.24), 0 17px 50px 0 rgba(174,236,239,0.24);
        }
    </style>
</head>

<body>

    <form action="/tickerdata" method="post">
        <input type="hidden" name="stockTicker" value={{ ticker }}>
        <button type="submit" class="back-button">Back</button>
    </form>

</body>

<body>
    <div class="container">

        <h1>Microeconomic Data</h1>

        <canvas id="realgdpchart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("realgdpchart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ real_gdp_dates | safe }},
                        datasets: [
                        {
                        label: "Real GDP",
                        data: {{ real_gdp_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>

        <canvas id="cpilinechart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("cpilinechart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ cpi_dates | safe }},
                        datasets: [
                        {
                        label: "CPI",
                        data: {{ cpi_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>

        <canvas id="inflationlinechart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("inflationlinechart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ inflation_dates | safe }},
                        datasets: [
                        {
                        label: "Inflation Rate",
                        data: {{ inflation_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>

        <canvas id="retaillineschart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("retaillineschart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ retail_dates | safe }},
                        datasets: [
                        {
                        label: "Retail Sales",
                        data: {{ retail_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>


        <canvas id="fedfundslinechart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("fedfundslinechart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ fed_dates | safe }},
                        datasets: [
                        {
                        label: "Federal Funds Rate",
                        data: {{ fed_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>

        <canvas id="unemployementlinechart" width="1100" height="900"> </canvas>
            <script>
                var ctx = document.getElementById("unemployementlinechart").getContext("2d");
                var lineChart = new Chart(ctx, {
                    type: "line",
                    data: {
                        labels: {{ unemployment_dates | safe }},
                        datasets: [
                        {
                        label: "Unemployment Rate",
                        data: {{ unemployment_values | safe }},
                        fill: false,
                        borderColor: "rgb(75, 192, 192)",
                        lineTension: 0.1
                    }
                  ]
                },
                options: {
                    responsive: false,
                    scales: {
                    x: {
                        display: false
                    }
                   }
                }
            });
            </script>

        </div>
    </body>
</html>